Repository ericoneto1405/sistema-sap: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, mypy, pytest-unit

eslint:
  name: eslint
  entry: eslint
  language: system
  args:
  - meu_app/static/js/coletas/**/*.js

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - meu_app/coletas/

pytest-unit:
  name: pytest-unit
  entry: pytest
  language: system
  args:
  - tests/coletas/
  - -q

Auto-commit: 2025-10-07 14:19:12
  README.md
  com.sistema-sap.autocommit.plist
Due: none

feat: Implementar Flask App Factory pattern + configuração por ambiente
  .env.example
  MIGRACAO_APP_FACTORY.md
  README.md
  RELATORIO_DISCOVERY.md
  config.py
  meu_app/__init__.py
  requirements.txt
  run.py
  wsgi.py
Due: mypy, pytest-unit

docs: Remover credenciais fracas do README e separar DEV/PROD
  README.md
Due: none

docs: Adicionar evidências técnicas objetivas da Fase 1
  EVIDENCIAS_FASE1.md
Due: none

refactor: Simplificar config.py para padrão BaseConfig mais objetivo
  app/security.py
  config.py
Due: mypy, pytest-unit

refactor: Simplificar wsgi.py para versão mínima objetiva
  wsgi.py
Due: mypy, pytest-unit

feat: Adicionar LoginManager ao App Factory conforme especificação
  meu_app/__init__.py
  requirements.txt
Due: mypy, pytest-unit

refactor: Simplificar run.py para versão mínima objetiva (8 linhas)
  run.py
Due: mypy, pytest-unit

docs: Revisar README separando DEV/PROD e movendo credenciais para seed
  README.md
Due: none

fix: Pinar versões em requirements.txt para garantir reproducibilidade
  requirements.txt
Due: none

fix: Corrigir Flask-Limiter API para versão 4.0+ e DATABASE_URL do sistema
  meu_app/security.py
Due: mypy, pytest-unit

docs: Adicionar documentação final completa da Fase 1
  FASE1_COMPLETA.md
Due: none

feat: Adicionar smoke test de validação de headers de segurança
  scripts/phase2_smoke.sh
Due: none

feat: Implementar sistema RBAC (autorização por papéis)
  RBAC_IMPLEMENTATION.md
  app/auth/__init__.py
  app/auth/rbac.py
  meu_app/__init__.py
  meu_app/templates/403.html
  requirements-dev.txt
  tests/auth/__init__.py
  tests/auth/test_rbac.py
Due: mypy, pytest-unit

docs: Adicionar resumo completo de toda a sessão de refatoração
  SESSAO_COMPLETA.md
Due: none

docs: Adicionar gate de verificação objetiva RBAC (Fase 3)
  GATE_FASE3_RBAC.md
Due: none

feat: Aplicar decorators RBAC nas blueprints críticas
  .env.dev
  COMMIT_MESSAGE.txt
  README.md
  README_PATCH.md
  app/security.py
  config.py
  config.py.verbose_backup
  init_db.py
  meu_app/__init__.py.before_403
  meu_app/__init__.py.before_login
  meu_app/apuracao/routes.py
  meu_app/coletas/routes.py
  meu_app/financeiro/routes.py
  meu_app/routes.py
  meu_app/security.py
  meu_app/templates/apuracao.html
  meu_app/templates/base.html
  meu_app/templates/clientes.html
  meu_app/templates/coletas/processar_coleta.html
  meu_app/templates/csrf_error.html
  meu_app/templates/editar_apuracao.html
  meu_app/templates/editar_estoque.html
  meu_app/templates/editar_pedido.html
  meu_app/templates/estoques.html
  meu_app/templates/lancar_pagamento.html
  meu_app/templates/listar_pedidos.html
  meu_app/templates/login.html
  meu_app/templates/novo_cliente.html
  meu_app/templates/novo_estoque.html
  meu_app/templates/novo_pedido.html
  meu_app/templates/novo_produto.html
  meu_app/templates/painel.html
  meu_app/templates/produtos.html
  meu_app/templates/usuarios.html
  meu_app/templates/vendedor/dashboard.html
  meu_app/usuarios/routes.py
  meu_app/vendedor/routes.py
  run.py.verbose_backup
  test_app.sh
  tests/test_security.py
Due: mypy, pytest-unit

docs: Gate de aceite RBAC 100% - Aprovação final com evidências
  GATE_FASE3_RBAC_FINAL.md
Due: none

docs: Esclarecer status FASE 3 (RBAC) - Implementado vs. Planejamento
  RESPOSTA_OFICIAL_FASE3.md
Due: none

docs: Adicionar roadmap de fases corretivas
  docs/fases_corretivas.md
Due: none

fix: Corrigir testes RBAC - 16/16 passando
  meu_app/__init__.py
  requirements.txt
  tests/auth/test_rbac.py
Due: mypy, pytest-unit

Auto-commit: 2025-10-07 23:48:57
  README.md
  docs/meu_app_structure.md
Due: none

Auto-commit: 2025-10-07 23:54:13
  alembic_migrate.py
  config.py
  docs/meu_app_structure.md
  meu_app/__init__.py
  migrations/README
  migrations/README.md
  migrations/alembic.ini
  migrations/env.py
  migrations/script.py.mako
  migrations_old/README.md
  migrations_old/migracao_add_campos_comprovante.py
  migrations_old/migracao_add_conferente.py
  migrations_old/migracao_add_id_transacao.py
  migrations_old/migracao_add_recibo.py
  migrations_old/migracao_add_recibo_meta.py
  migrations_old/migracao_logistica.sql
  migrations_old/migrar_logistica_para_coletas.py
  requirements.txt
Due: mypy, pytest-unit

Auto-commit: 2025-10-07 23:59:30
  .env.dev
  FASE5_IMPLEMENTACAO_COMPLETA.md
  alembic_migrate.py
  docs/MIGRATIONS_ALEMBIC.md
  meu_app/models.py
  run.py
Due: mypy, pytest-unit

Auto-commit: 2025-10-08 00:04:53
  run.py
Due: mypy, pytest-unit

Auto-commit: 2025-10-08 00:10:37
  meu_app/obs/__init__.py
  meu_app/obs/logging.py
  meu_app/obs/metrics.py
  requirements.txt
Due: mypy, pytest-unit

Auto-commit: 2025-10-08 00:36:42
  meu_app/__init__.py
  meu_app/obs/middleware.py
  meu_app/routes.py
Due: mypy, pytest-unit

Auto-commit: 2025-10-08 00:41:58
  FASE6_IMPLEMENTACAO_COMPLETA.md
  docs/OBSERVABILIDADE.md
Due: none

Auto-commit: 2025-10-08 00:48:15
  FASE8_IMPLEMENTACAO_COMPLETA.md
  RECOMENDACOES_INDICES.md
  config.py
  docs/GUIA_CACHE.md
  meu_app/apuracao/routes.py
  meu_app/cache.py
  meu_app/vendedor/routes.py
  requirements.txt
Due: mypy, pytest-unit

Auto-commit: 2025-10-08 00:53:16
  FASES_5_6_8_RESUMO_FINAL.md
  meu_app/financeiro/config.py
  meu_app/financeiro/vision_service.py
  requirements.txt
Due: mypy, pytest-unit

Auto-commit: 2025-10-08 00:58:18
  requirements-dev.txt
Due: none

Auto-commit: 2025-10-08 01:03:19
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  README.md
  meu_app/financeiro/vision_service.py
  meu_app/routes.py
  pyproject.toml
  tests/test_healthchecks.py
Due: mypy, pytest-unit

Auto-commit: 2025-10-08 01:08:20
  FASE9_IMPLEMENTACAO_COMPLETA.md
  Makefile
  docs/QUALIDADE_CI_CD.md
  tests/test_contracts.py
Due: mypy, pytest-unit

Auto-commit: 2025-10-08 01:13:22
  .secrets.baseline
  IMPLEMENTACAO_COMPLETA_VISUAL.txt
  RESUMO_FASES_5_6_8_9.md
  meu_app/templates/lancar_pagamento.html
Due: none

Auto-commit: 2025-10-08 01:18:23
  meu_app/__init__.py
  meu_app/api/__init__.py
  meu_app/api/docs.py
  meu_app/routes.py
  meu_app/templates/lancar_pagamento.html
  requirements.txt
Due: mypy, pytest-unit

Auto-commit: 2025-10-08 01:23:24
  FASE10_IMPLEMENTACAO_COMPLETA.md
  Makefile
  README.md
  docs/API_EXAMPLES.md
  meu_app/__init__.py
  meu_app/static/js/financeiro_pagamento.js
  meu_app/templates/lancar_pagamento.html
  scripts/smoke_test.sh
Due: eslint, mypy, pytest-unit

Auto-commit: 2025-10-08 01:28:26
  RESUMO_FINAL_TODAS_FASES.md
Due: none

Auto-commit: 2025-10-08 01:33:27
  PLANO_HARDENING_SEGURANCA.md
  requirements.txt
Due: none

Auto-commit: 2025-10-08 01:38:28
  config.py
  meu_app/obs/logging.py
Due: mypy, pytest-unit

Path conditions:
  eslint: any of: \.js$
  mypy: any of: \.py$
  pytest-unit: any of: \.py$
